$primary-color: #E2E2E2;
$font-family: 'Roboto';
$space: #181C45;
$articleHeader:black;
$articleBody:grey;
$footerColor:#424242;
$appColor:#2391BC;

@font-face {
	font-family: $font-family;
	src: url('https://www.google.com/fonts#UsePlace:use/Collection:Roboto:300,400,500');
}
html
{
	font-family: $font-family;
	body{
		background-color: $primary-color;
		color: white;
		margin:0px;
		header,article,footer{
			float:left;
		}
		header{
			width:100%;
			background-image:url(../image/compressed/space.png);
			background-repeat: no-repeat;
			font-weight: 500;
			h1,h3,img{
				width:auto;
				text-align: center;
				color: white;
				text-shadow:
				-1px -1px 0 $space,
				1px -1px 0 $space,
				-1px 1px 0 $space,
				1px 1px 0 $space;  
			}
			img{
				border-radius:100%;
				height:auto;
			}
			h1{
				margin-bottom: 5px;
			}
			h3{
				margin-top: 0px;
			}
		}
		main{
			width:100%;
			float:left;
			article{
				background-color: white;
				color:$articleBody;
				h1{
					color: $articleHeader;
					margin-top:	0px;
					margin-bottom: 10px;
					font-weight: 500;
				}
				h1 i{
					font-weight: 400;
				}
				p{
					margin: 0px;
					font-weight: 300;
				}
				h3{
					margin: 10px 0px 0px;
					font-weight: 500;
				}
				ul{
					margin: 10px 0px;
					list-style-type: square;
					li{
						a{
							text-decoration: none;
							color:black;
							&:active,
							&:hover{
								color:$appColor;
							}
						}
					}
				}
			}
		}
		main:after {
			content: '';
			display: block;
			clear: both;
		}
		footer{
			width: calc(100% - 20px);
			padding:10px;
			margin-top: 15px;
			background-color: $footerColor;
			clear: both;	
			h3{
				margin: 0px;
				font-weight: 400;
			}
			p{
				margin: 0px;
				a{
					text-decoration: none;
					color:white;
					float:left;
					margin-left:20px;
					&:active,
					&:hover{
						color:$appColor;
					}
					&:first-of-type{
						margin-left:0px;
					}
				}
			}
		}
	}
	/* landscape */
	/* Portrait */
	@media screen and (max-device-width: 600px){
		body {
			header{
				height:100%;
				background-position: top;
				background-size: auto 100%;
				img{
					margin-left:calc(50% - 13%);
					margin-top:20%;
					width:26%;
					border:2px solid white;
				}
				h3{
					margin-bottom: 20%;
				}
			}
			main{
				article{
					margin:3%;
					padding:4%;
					width:calc(100% - 14%);
				}
				article.double{
					width:calc(100% - 14%);
				}

			}
			footer{
				a{
					margin-left:0px !important;
					float:left;
					clear:both;
				}
			}
		}
	}
	@media screen and (min-device-width: 600px) 
	and (max-device-width: 1000px){
		body {
			header{
				height:100%;
				background-position: center center;
				background-size: auto 150%;
				img{
					margin-left:calc(50% - 10%);
					margin-top:5%;
					width:20%;
					border:4px solid white;
				}
				h3{
					margin-bottom: 5%;
				}
			}
			main{
				article{
					margin:2%;
					padding:3%;
					width:calc(50% - 10%);
				}
				article.double{
					width:calc(100% - 10%);
				}
			}
		}
	}
	@media screen and (min-device-width: 1000px) 
	and (max-device-width: 1500px){
		body {
			header{
				height:50%;
				background-position: center center;
				background-size: auto 300%;
				h1{
					font-size: 3vw;
				}
				h3{
					font-size: 2vw;
				}
				img{
					margin-left:calc(50% - 6%);
					margin-top:1%;
					width:12%;
					border:6px solid white;
				}
			}
			main{
				article{
					margin:1%;
					padding:2%;
					width:calc(33.33% - 6%);
				}
				article.double{
					width:calc(66.66% - 6%);
				}
			}
		}
	}
	@media screen and (min-device-width: 1500px){
		body {
			header{
				height:50%;
				background-position: center center;
				background-size: auto 300%;
				h1{
					font-size: 3vw;
				}
				h3{
					font-size: 2vw;
				}
				img{
					margin-left:calc(50% - 6%);
					margin-top:1%;
					width:12%;
					border:6px solid white;
				}
			}
			main{
				article{
					margin:1%;
					padding:1%;
					width:calc(25% - 4%);
				}
				article.double{
					width:calc(50% - 4%);
				}
			}
		}
	}
}